body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;

  height: 750px;

  text-align:center;

  background-size: 100%;
  background: url("../img/hangword_wallpaper.png");
}

header, .container {
  background-color: #116c8885;
}

header {
  position: relative;

  display: flex;
  justify-content: center;

  border: 2px solid #111;
}

header .container {
  position: relative;
  
  display: flex;
  justify-content: flex-end;
  flex-direction: row;  

  margin: 15px;

  background-color: #3eaa6fb9;
  border: 2px solid #111;
}

header li {
  position: relative;
  top: 20px;
  
  display: inline;

  padding: 0 20px 0 20px;
}

header .current a {
  color: #111111;
  font-weight: bold;
}

header a {
  color: #ffffff;
  text-decoration: none;

}

header a:hover {
  color: #000000;
}

section .container {
  display: flex;

  flex-direction: column;
  justify-content: center;

  min-height: 150px;
  margin-top: 20px;

  border: 2px solid #111;
}

section .wrapper .container {
  border-radius: 20px;
}

section a {
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  
  color: #ffffff;
  text-decoration: none;

  background-color: #00ac509f;
  border: 2px solid #111;
  border-radius: 50px;

}

section a:hover {
  background-color: #008d42;
}

section #wordAns {
  visibility: hidden;
}

section .unsolved {
  text-transform: capitalize;
  
}

section #solved {
  text-transform: capitalize;
}

.wrapper{
  display: flex;
  flex-direction: column;
  
  padding: 10px;
  background: #b288ff6e;
}

#alphabet {
  margin:15px auto;
  padding:0;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background: #ffffff;
  color: #3eaa6fb9;
  cursor:pointer;
  border: solid 1px #3eaa6fb9;
  border-radius: 5px;
}

#alphabet li:hover{
  background: #3eaa6fb9;
  border: solid 1px #1b5837b9;
  color: #ffffff;
}

#buttons {
  display: flex;
  justify-content: center;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}