body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;

  height: 750px;

  text-align:center;

  background-size: 100%;
}

header {
  position: relative;

  display: flex;
  justify-content: center;

  border: 2px solid #111;
}

header .container {
  position: relative;
  
  display: flex;
  justify-content: flex-end;
  flex-direction: row;  

  margin: 15px;

  background-color: #3eaa6fb9;
  border: 2px solid #111;
}

header li {
  position: relative;
  top: 20px;
  
  display: inline;

  padding: 0 20px 0 20px;
}

header .current a {
  color: #111111;
  font-weight: bold;
}

header a {
  color: #ffffff;
  text-decoration: none;

}

header a:hover {
  color: #000000;
}

section .container {
  display: flex;

  flex-direction: column;
  justify-content: center;

  min-height: 150px;
  margin-top: 20px;

  border: 2px solid #111;
}

section .container #startBut {
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;

  background-color: #00ac509f;
  border: 2px solid #111;
  border-radius: 50px;
}

section .container #startBut :hover{
  font-weight: bold;
  
  color: #ffffff;
  text-decoration: none;
}

/*
.wrapper{
  width:100%;
  margin:0 auto;
}

#alphabet {
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background: #ffffff;
  color: #3eaa6fb9;
  cursor:pointer;
  border: solid 1px #ffffff;
}

#alphabet li :hover{
  background: #3eaa6fb9;
  border: solid 1px #ffffff;
  color: #ffffff;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}*/